<footer class="footer">
    <div class="footer-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-6 mb-5 mb-lg-0">
                    <h6 class="title">
                        <a href="javascript:void(0);" class="brand">Casona</a>
                    </h6>
                </div>
                <div class="col-lg-2 col-6 mb-5 mb-lg-0">
                    <h6 class="title">Papa John’s</h6>
                    <ul class="options">
                        <li>
                            <a href="javascript:void(0);">Comunicado COVID 19</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Acerca de nosotros</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Trabaja con Nosotros</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Ingredientes</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Papa John's Int.</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 mb-5 mb-lg-0">
                    <h6 class="title">Ayuda</h6>
                    <ul class="options">
                        <li>
                            <a href="javascript:void(0);">Preguntas Frecuentes</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Contacto</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Consulta tu boleta</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 mb-5 mb-lg-0">
                    <h6 class="title">Legal</h6>
                    <ul class="options">
                        <li>
                            <a href="javascript:void(0);">Términos y Condiciones</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Política de privacidad</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 mb-5 mb-lg-0">
                    <h6 class="title">Locales</h6>
                    <ul class="options">
                        <li>
                            <a href="javascript:void(0);">Nuestros locales</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 mb-5 mb-lg-0">
                    <h6 class="title">Papa Puntos</h6>
                    <ul class="options">
                        <li>
                            <a href="javascript:void(0);">Únete al programa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12 mb-3 mb-lg-0">
                <div class="copyright text-lg-left text-center">
                    &copy; 2020 Papa John's Internacional, Inc. Todos los derechos reservados
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-lg-right text-center">
                <div class="social-block">
                    <ul>
                        <li>
                            <a href="javascrip:void(0);">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascrip:void(0);">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>