<div class="content-modal main-choose-category">
  <a href="javascript:void(0);" class="close-modal" (click)="close()">
    <img src="../../../../assets/images/close-icon.svg" class="img-fluid" alt="">
  </a>
  <div class="row">
    <div class="col-lg-4">
      <div class="bg-main-pizz"
        style="background: url('https://www.papajohns.cl/static/media/side_banner_byop.16631678.jpeg');">
      </div>
    </div>

    <div class="col-lg-8 pl-lg-0">
      <div class="py-5 bg-white">
        <div class="row">
          <div class="col">
            <a href="javascript:void(0);" class="back-arrow-step">
              <i class="far fa-arrow-left mr-2"></i>
              <span>Paso 1</span>
            </a>
            <div class="stepper d-flex align-items-center justify-content-center">
              <div class="step">
                <button type="button" class="btn-step active">
                  <span>1</span>
                  <i class="fad fa-check secondary-text"></i>
                </button>
              </div>
              <div class="step">
                <button type="button" class="btn-step">
                  <span>2</span>
                  <i class="fad fa-check secondary-text"></i>
                </button>
              </div>
              <div class="step">
                <button type="button" class="btn-step">
                  <span>3</span>
                  <i class="fad fa-check secondary-text"></i>
                </button>
              </div>
              <div class="step">
                <button type="button" class="btn-step">
                  <span>4</span>
                  <i class="fad fa-check secondary-text"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-between main-choose-category">
          <div class="mx-auto px-4 category-title text-center">
            <span>Personalize sua pizza</span>
            <h2 class="mb-4">{{objProduct.ProductName}}</h2>
          </div>
          <div class="choose-category-block">
            <div class="container-fluid pl-lg-0">
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex main-title">
                    <h6>Tipo de borda</h6>
                    <hr>
                  </div>
                  <div class="btn-combo d-flex flex-row flex-wrap" *ngFor="let item of edge">
                    <button type="button" class="btn btn-border" (click)="edgeItem(item)">
                      {{item.Edge}}
                    </button>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="d-flex main-title">
                    <h6>Tipo de masa</h6>
                    <hr>
                  </div>
                  <div class="btn-combo d-flex flex-row flex-wrap" >
                    <button type="button" class="btn btn-border">
                      Mussarela
                    </button>
                    <button type="button" class="btn btn-border">
                      Requeijão
                    </button>
                    <button type="button" class="btn btn-border">
                      Catupiry
                    </button>
                    <button type="button" class="btn btn-border">
                      Cheddar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="order-place">
            <div class="d-flex justify-content-end total-order mr-4">
              <h5>R$ {{objProduct.Price}}</h5>
              <button type="button" class="btn btn-secondary">Finalizar pizza!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
