<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card-block">
          <div class="card-box">
            <div class="mb-3">
              <a href="javascript:void(0);" class="back-arrow">
                <i class="fa fa-arrow-left mr-1"></i> Volver al menú
              </a>
            </div>
            <div class="row">
              <div class="col mb-2">
                <div class="align-items-center d-flex">
                  <h6>
                    <i class="fad fa-truck-moving icon mr-1"></i>
                    Delivery a tu dirección</h6>
                  <hr class="my-0">
                  <a href="javascript:void(0);" class="space-nowrap ml-4">Modificar</a>
                </div>
              </div>
              <div class="col-12 my-1">
                <p>Calle Bernardo O`Higgins 1100</p>
                <p><i class="far fa-map-marker-alt mr-1"></i> Desde tienda Reñaca</p>
              </div>
              <div class="col-12">
                <h6 class="mb-3">Tiempo de entrega</h6>
                <div class="row">
                  <div class="col-sm-6 mb-4 mb-sm-0">
                    <button type="button" class="btn-border">
                      <i class="far fa-bolt icon"></i>
                      <div class="content">
                        <span>Lo antes posible</span>
                        <span><i class="far fa-clock mr-1"></i> <strong>40 min
                            aprox</strong></span>
                      </div>
                    </button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn-border">
                      <i class="far fa-history icon secondary-text"></i>
                      <div class="content">
                        <span>Hora programada</span>
                        <span>Elige el tiempo de entrega</span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-box">
            <div class="row">
              <div class="col mb-3">
                <div class="align-items-center d-flex">
                  <h6>Completa tu perfil</h6>
                  <hr class="my-0">
                  <a href="javascript:void(0);" class="space-nowrap ml-4">Inicia sesión</a>
                </div>
              </div>
              <div class="col-12 my-1">
                <div class="form-group">
                  <label for="">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group mb-0">
                  <label for="">Teléfono</label>
                  <input type="text" class="form-control" placeholder="Teléfono">
                </div>
              </div>
            </div>
          </div>
          <div class="card-box">
            <div class="row">
              <div class="col mb-2">
                <div class="align-items-center d-flex">
                  <h6>¿Te faltó algo?</h6>
                  <hr class="my-0">
                </div>
              </div>
              <div class="col-12 my-1">
                <p><i class="fa fa-star mr-1"></i> Ingresa a tu cuenta para usar tus Papa Puntos
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 d-flex">
                <div class="card-box w-100 bg-white card">
                  <div class="card-img" style="background-image: url('../../../assets/images/foods/1.jpg');"></div>
                  <div class="price-box">
                    <div class="d-flex">
                      <div class="col-8 pl-2 pr-0">
                        <div class="food-size">Familiar</div>
                      </div>
                      <div class="col-4 pl-0 pr-3 text-right">
                        <div class="price">$ 14.500</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-details">
                    <div class="card-body p-0">
                      <h6>Disfruta Septiembre</h6>
                      <p>Coca Cola y Papa John's te invitan a armar
                        tu pizza fam 3 ing + bebida 1.5 lt y
                        participar por 1 de 40 gift cards y pizzas gr...</p>
                    </div>
                    <div class="add-to-cart">
                      <button type="button" class="btn btn-secondary">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex">
                <div class="card-box w-100 bg-white card">
                  <div class="card-img" style="background-image: url('../../../assets/images/foods/2.jpg');"></div>
                  <div class="price-box">
                    <div class="d-flex">
                      <div class="col-8 pl-2 pr-0">
                        <div class="food-size">XL</div>
                      </div>
                      <div class="col-4 pl-0 pr-3 text-right">
                        <div class="price">$ 14.000</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-details">
                    <div class="card-body p-0">
                      <h6>Disfruta Septiembre</h6>
                      <p>Todas las Carnes XL + Palitos de Ajo a
                        $14.000</p>
                    </div>
                    <div class="add-to-cart">
                      <button type="button" class="btn btn-secondary">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card-block">
          <div class="card-box">
            <div class="row">
              <div class="col mb-2">
                <div class="align-items-center d-flex">
                  <h6>Métodos de pago</h6>
                  <hr class="my-0">
                </div>
              </div>
              <div class="col-12 my-1">
                <div>
                  <p>Disponibles</p>
                  <div class="d-flex overflow-auto">
                    <button type="button" class="btn-border mr-3">
                      <img src="../../../assets/images/card/card1.png" alt="">
                      Tarjeta</button>
                    <button type="button" class="btn-border mr-3">
                      <img src="../../../assets/images/card/card4.png" alt="">
                      OnePay</button>
                    <button type="button" class="btn-border mr-3">
                      <img src="../../../assets/images/card/card2.png" alt="">
                    </button>
                    <button type="button" class="btn-border mr-3">
                      <img src="../../../assets/images/card/card3.png" alt="">
                      Webpay</button>
                  </div>
                </div>
                <hr>
                <div>
                  <p>* Por motivos de seguridad hemos desactivado el pago en efectivo.
                  </p>
                  <p>Recuerda que siempre puedes pagar con tarjeta en tu casa
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-box">
            <div class="row">
              <div class="col mb-2">
                <div class="align-items-center d-flex">
                  <h6>Resumen</h6>
                  <hr class="my-0">
                </div>
              </div>
              <div class="col-12 my-1">
                <div class="row">
                  <div class="col">
                    <p>Resumen</p>
                  </div>
                  <div class="col text-right">
                    <p>$ 38.100</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="mb-0">Delivery</p>
                  </div>
                  <div class="col text-right">
                    <p class="mb-0">Gratis</p>
                  </div>
                  <div class="col-12">
                    <hr>
                    <div class="media-block">
                      <div class="row">
                        <div class="col-2 px-1 text-center">
                          <img src="../../../assets/images/customer/happy-face.svg" alt="">
                        </div>
                        <div class="col-10 pl-0">
                          <h6 class="mt-0">Agrega propina a tu repartidor:
                          </h6>
                          <div class="description">
                            Los repartidores cumplen una labor fundamental en este momento.
                            Puedes agregar más propina si lo deseas.
                          </div>
                          <div class="btn-block d-flex overflow-auto">
                            <button>$ 0</button>
                            <button>$ 1.000</button>
                            <button>$ 1.500</button>
                            <button>$ 2.000</button>
                            <button>$ 2.500</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6 mb-4 mb-md-0">
                    ¿Tienes un cupón de descuento?
                  </div>
                  <div class="col-md-6 text-right">
                    <a href="javascript:void(0);">Inicia sesión</a> para redimirlo.
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-end total-order">
                      <h5>Total: $ 39.100</h5>
                      <button type="button" class="btn btn-secondary">Confirmar pedido</button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <div class="text-center text-muted font-12">
                      *Al confirmar el pedido declaras haber leído y aceptas nuestros
                      <a href="javascript:void(0);">Términos y Condiciones</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cart-box card-none card-box">
            <div class="list">
              <div class="align-items-center d-flex">
                <h6>Detalles del pedido</h6>
                <hr class="my-0">
              </div>
              <div class="item-details mt-3">
                <div class="item">
                  <div class="align-items-center d-flex justify-content-between">
                    <span class="sub-title">Chicken Garlic</span>
                    <div class="align-items-center d-flex justify-content-between">
                      <button type="button" class="btn">
                        <i class="fa fa-minus"></i>
                      </button>
                      <span class="mx-2">2</span>
                      <button type="button" class="btn">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <span class="mb-3 small text-muted text-small">Familiar, Tradicional</span>
                  <p>Extra salsa, doble pollo grillados, salsa garlic, queso mozzarella y queso
                    parmesano/romano.</p>
                  <div class="align-items-center d-flex justify-content-between">
                    <a href="javascript:void(0);" class="update-cart">Modificar</a>
                    <span class="total-price">$ 23.600</span>
                  </div>
                </div>
                <div class="item">
                  <div class="align-items-center d-flex justify-content-between">
                    <span class="sub-title">Chicken Garlic</span>
                    <div class="align-items-center d-flex justify-content-between">
                      <button type="button" class="btn">
                        <i class="fa fa-minus"></i>
                      </button>
                      <span class="mx-2">2</span>
                      <button type="button" class="btn">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <span class="mb-3 small text-muted text-small">Familiar, Tradicional</span>
                  <p>Extra salsa, doble pollo grillados, salsa garlic, queso mozzarella y queso
                    parmesano/romano.</p>
                  <div class="align-items-center d-flex justify-content-between">
                    <a href="javascript:void(0);" class="update-cart">Modificar</a>
                    <span class="total-price">$ 23.600</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
