<header class="header-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="javasscript:void(0);" class="brand">
            Casona
          </a>
          <!-- ***** Logo End ***** -->

          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-pizza"></i>
                Menú
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-clipboard-list"></i>
                Mis Pedidos
              </a>
            </li>
            
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-truck"></i>
                Delivery
              </a>
            </li>
            <!-- <li>
              <a href="javascript:void(0);">
                <i class="fad fa-shopping-cart"></i>
                Cart
              </a>
            </li> -->
            <li class="pr-0">
              <a href="javascript:void(0);">
                <span class="count">4</span>
                <button class="btn btn-primary btn-cart">
                  <i class="fad fa-shopping-cart"></i>
                </button>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <button (click)="openLogin()" class="btn btn-primary btn-login">
                  <i class="fad fa-user-tie mr-2"></i> Ingresar
                </button>
              </a>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>

        <nav class="main-nav pos-fixed">
          <!-- ***** Logo Start ***** -->
          <a href="javasscript:void(0);" class="brand">
            Casona
          </a>
          <!-- ***** Logo End ***** -->
          
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-badge-percent"></i>
                Promociones
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-pizza-slice"></i>
                Pizza
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-french-fries"></i>
                Acompañamientos
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-glass-champagne"></i>
                Bebidas
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-cookie"></i>
                Postres
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-pizza"></i>
                Extras
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="fad fa-truck"></i>
                Delivery
              </a>
            </li>
            <li class="pr-0">
              <a href="javascript:void(0);">
                <span class="count">4</span>
                <button class="btn btn-primary btn-cart">
                  <i class="fad fa-shopping-cart"></i>
                </button>
              </a>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
